@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #081306  ;
  margin: 0; 
  padding: 0;
  height: 100%; 
  display: block;
}

.uts-neup-shadow{
  border-color: #506c4a;

  box-shadow: var(--h1) var(--v1) var(--color-dark), 
  var(--h2) var(--v2) var(--color-light);
}

.uts-box {
  background-color:  #081306;
  border-color: #506c4a;
  margin-top: 3%;
  height: 25rem;
  width: 50rem;
}

uts-input-box{
  padding-top: 2%;
}

.uts-dark-label{
  color: #506c4a;
}

.uts-button {
  background-color:  #081306;
  border-color: #506c4a;
  color: #506c4a;
}

.uts-input {
  background-color:  #081306;
  border-color: #506c4a;
  color: #506c4a;
}

.uts-input::placeholder {
  color: #ff3366;
  opacity: 1;
}

